<hr>
<footer>
    <h2>Софія Командирчик-Скрипник</h2>
    <div id="social">
        <a href="https://www.facebook.com/sophia.komandyrchyk" target="_blank">
            <img src="../../../assets/images/facebook.png" alt="facebook">
        </a>
        <a href="https://www.instagram.com/sofiakomandyrchyk/" target="_blank">
            <img src="../../../assets/images/instagram.png" alt="instagram">
        </a>
        <a href="https://www.youtube.com/channel/UCrWTH2AeZobvtdfgo9jgP3w" target="_blank">
            <img src="../../../assets/images/youtube.png" alt="youtube">
        </a>
    </div>
    <p id="developer">Розробка: 
        <a href="https://nazarskrypnyk.com" target="_blank">Назар Скрипник</a>
    </p>
</footer>
