<div id="contact">
    <form class="col s12" [formGroup]="form" (submit)="onAddContact()">
        <h3 class="center">Напишіть відгук</h3>
        <div class="row">
            <div class="input-field">
                <input id="name" formControlName="name" type="text" class="validate" required>
                <label for="name">Ім'я</label>
                <span class="helper-text" data-error="Це поле обов'язкове" data-success="+"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input id="email" type="email" formControlName="email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <textarea id="message" class="materialize-textarea validate" formControlName="message" required></textarea>
                <label for="message">Відгук</label>
                <span class="helper-text" data-error="Це поле обов'язкове" data-success="+"></span>
            </div>
        </div>
        <div class="row center">
            <button class="btn" type="submit" [disabled]="form.invalid">Відправити
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
