<div id="about-page">
    <img src="../../../assets/images/sophia.jpg" alt="sophia komandyrchyk" >
    <h2>Софія Командирчик-Скрипник</h2>
    <p id="bio">Софія почала співати ще до того, як навчилась добре розмовляти − у неї була своя особлива мова.
        Проте мама помітила схильність дівчинки до музики, спершу сама навчала, а вже в 5 років віддала до школи мистецтв.
        Професійне зацікавлення музикою виникло під впливом хресного батька, який працює композитором.
        Тож спершу було Тернопільське музичне училище ім. С. Крушельницької по класу фортепіано,
        а після закінчення Софія вступила у Львівську національну музичну академію ім. М. Лисенка, де здобула ступінь магістра.
        Має досвід роботи з оркестром та ансамблем.
        Також працювала концертмейстером у вокальних студіях та вчителем з музики в центрах дитячого розвитку.
        Зацікавилась раннім музичним розвитком, коли ще навчалась на 5-му курсі.
        Спочатку відвідувала семінари та фестивалі з музичної педагогіки.
        Брала участь у кількох мистецьких проєктах, що відбувались в межах фестивалів “Контрасти” та “Віртуози”.
        “У роботі з дітками люблю знаходити той особливий ключик до музики, який є в кожного.
        Разом ми долаємо страх перед інструментом, скованість та отримуємо насолоду від музикування”.</p>
</div>
