@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

#calendar {
  @include flexColumnCenter();
  padding: 30px 0 50px;

  .calendar-header {
    .month-navigation {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        line-height: 30px;
        padding-right: 5px;
        text-transform: uppercase;
      }
    }
  }

  .calendar-body {
    .calendar-row {
      @include flexRowCenter();

      .calendar-cell {
        width: 100px;
        height: 70px;
        margin: 5px;
        padding: 5px;
        font-family: $head-font;
        font-size: 30px;
        font-weight: bold;
        border: 1px solid grey;
        border-radius: 10px;
        &:hover {
          background: $main-color;
          cursor: pointer;
        }
      }
    }
  }
}
